.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.cards-container .MuiCard-root {
  flex: 0 0 calc(33.33% - 1em); /* Adjust the width of each card as per your requirement */
  margin-bottom: 1em;
}

.card {
  color: #FF512F;
}


.heading {
  font-size: 40px;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  margin: 10px;
  padding: 100px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  z-index: 0;
}

.heading:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-heading 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-heading {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.heading:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  left: 0;
  top: 0;
  border-radius: 10px;
}


 .search-input-container {
    display: flex;
    align-items: center;
    background-color: #85FFBD; 
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); 
    padding: 0.5rem;
    margin: 10px;
    border-radius: 0.5rem;
  }
  
  .search-input-container input[type="text"] {
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1rem;
    color: #482307;
    background-color: #85FFBD; 
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); 
  } 


searchBox {
    background-color: none;
    justify-content: right;

}







